@media only screen and (min-width:400px ) {
			html{font-size: 110px;}
		}


@media (min-width:360px ) {
			html{font-size: 100px;}
		}
@media (min-width:320px ) {
			html{font-size: 90px;}
		}		
		html,body{width: 100%;height: 100%;}
		body{width: 100%;max-width: 640px;position: relative;margin: 0 auto;color: #3e3e3e;background: #f4f4f4;font-weight: normal;font: 0.12rem/1.5 "Hiragino Sans GB", STFangsong, "Microsoft YaHei", Helvetica, STXihei, Arial, serif}
		
		/******头部*****/
		
		.main_home{background: #ffffff;}
		.container{min-height: 100%;width: 100%;position: relative;display: flex;flex-direction: column;}
		.main_home .fix-top{height: .32rem;position: fixed;left: 0;top: 0;width: 100%;background: rgba(255,255,255,0.95);border-bottom: 0.01rem solid #a56e1e;box-sizing: border-box;z-index: 5;}
		.main_home .fix-top a{color: #a38d6b;font-size: .11rem;position: absolute;top: 50%;left: .06rem;width: 0.56rem;height: 0.32rem;line-height: .32rem;padding-left: 0.2rem;margin-top: -0.16rem;z-index: 11;}
		.main_home .fix-top a div{width: 0.2rem;height: 0.2rem;background: url(../img/icons.png) no-repeat center;background-position: -0.4rem -1.2rem;background-size: 2rem 2rem;position: absolute;left: 0;top: 50%;margin-top: -0.1rem;}
		.main_home .fix-top h1{height: 0.32rem;background: url(../img/logo_top.png) no-repeat center;background-size: auto .1rem; }
		
		
		/******内容******/
		
				/*******banner*******/
		.main_home .center-main{height: 10rem;flex: 1;overflow: auto;margin-bottom: 0.54rem;margin-top: 0.32rem;position: relative;}
		.center-main .draw_wrap .header{position: absolute;top: 0;left: 0;}
		.center-main .draw_wrap .header img{height: 100%;width: 100%;}
				/********recommend********/
		.recommend{margin-top: 0.12rem;}
		.clear_fix:after{content: "";clear: both;display: block;visibility: hidden;height: 0;line-height: 0;}
		.division{border-top: 1px solid #D1C6AF;padding: 0.12rem;text-align: center;margin: 0 .16rem;color: #ff4001;}
		.division h2{font-size: .13rem;text-align: center;}
		.division h3{font-size: .1rem;margin-top: .03rem;}
		.recommend ul{margin: 0 .16rem;}
		.recommend ul li{width: 48%;}
		.recommend .item_info{padding: 0.08rem 0 .12rem;}
		.recommend .item_info h2{height: 0.16rem;line-height: 0.16rem;font-size: 0.11rem;}
		.recommend .item_info h3{margin-top:0.02rem; font-size: 0.1rem;}
		.recommend li:nth-of-type(odd){float: left;}
		.recommend li:nth-of-type(even){float: right;}
		.recommend li .item_info{position: relative;padding: 0.08rem 0 0.12rem;}
		.recommend li .item_info .add_cart {position: absolute;width: 0.2rem;height: 0.2rem;right: 0;top: .08rem;}
		.recommend li .item_info .add_cart:before {content: '';position: absolute;width: 0.2rem; height: 0.2rem;background: url(../img/icons.png) no-repeat center;background-size: 2rem 2rem;top: 50%;margin-top: -0.1rem;background-position: -1.2rem -0.2rem;left: 50%;margin-left: -0.1rem;}
				/*******link_wrap*******/
		.link_wrap .link{display: block;width: 100%;text-align: center;background: #f9f9f9;color: #8c7d5c;font-size: .1rem;line-height: 0.15rem;padding: .1rem 0;margin-bottom: 0.12rem;}
				/*******bottom********/
		.bottom{font-size: .1rem;text-align: center;}
		.bottom .device_type{width: 2rem;margin: auto;}
		.bottom .device_type a{display: block;width: 50%;position: relative;padding-top: 0.36rem;}
		.bottom .device_type a:before{content: "";width: 0.2rem;height: 0.2rem;background: url(../img/icons.png) no-repeat center;background-size: 2rem 2rem;position: absolute;top: 50%;left: 50%;margin-top: -0.1rem;margin-left: -0.1rem;}
		.bottom .device_type a.mobile:before{background-position: 0 -1.2rem;}
		.bottom .device_type a.pc:before{background-position: -0.2rem -1.2rem;}
		.bottom .device_type .f_left{float: left;}
		.bottom .device_type .f_right{float: right;}
		.bottom .copyRight{padding: 0.16rem 0;}
		
		
		/******底部*****/
		
		
		.main_home .fix-bottom{height: .54rem;background: white;width: 100%;position: fixed;left: 0;bottom: 0;border-top: 1px solid #d1c6af;z-index: 10;box-sizing: border-box;}
		.main_home .fix-bottom .footer_wrap{}
		.flex_item::before{content: "";position: absolute;width: 0.16rem;height: 0.16rem;background: url(../img/main_nav.png) no-repeat center;background-size: 0.32rem 0.8rem;left: 50%;top: 0.08rem;margin-left: -0.08rem;}
		.global_footer a:nth-of-type(1):before {background-position: 0 0;}
		.global_footer a:nth-of-type(1).active:before {background-position: -0.16rem 0;}
		.global_footer a:nth-of-type(2):before {background-position: 0 -0.16rem;}
		.global_footer a:nth-of-type(2).active:before {background-position: -0.16rem -0.16rem;}
		.global_footer a:nth-of-type(3):before {background-position: 0 -0.32rem;}
		.global_footer a:nth-of-type(3).active:before {background-position: -0.16rem -0.32rem;}
		.global_footer a:nth-of-type(4):before {background-position: 0 -0.48rem;}
		.global_footer a:nth-of-type(4).active:before {background-position: -0.16rem -0.48rem;}
		.global_footer a:nth-of-type(5):before {background-position: 0 -0.64rem}
		.global_footer a:nth-of-type(5).active:before {background-position: -0.16rem -0.64rem;}
		.flex{display: flex;}
		.global_footer{font-size: 0.12rem;text-align: center;}
		.flex_item{display: block;flex: 1;position: relative;width: 100%;height: 100%;padding-top: 0.28rem;color: #A38D6B;}
		.global_footer a.active{color: #FF4001;}