html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6{
	font-weight: normal;font-size: inherit;
}
button{outline: 0;resize: none;line-height: inherit;text-transform: none;font: arial;}
img{border: 0;display: block;vertical-align: top;max-width: 100%;}
li{list-style: none;}
a{text-decoration: none;color: inherit;}
*{box-sizing: border-box;}
.clear_fix:after{content: "";clear: both;display: block;visibility: hidden;height: 0;line-height: 0;}